*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "lexend", sans-serif  
}

.header-section{
    height: 100vh;
    background-image: url(../img/banner.svg);
    background-repeat: no-repeat;
    background-size: cover;

    & header{
        display: flex;
        justify-content: space-between;
        padding: 16px 92px;
        align-items: center;

        & nav{
            display: flex;
            gap: 40px;

            & a {
              color: #EFEFEF;
              font-size: 18px;
            }
        }

        .btns{
            display: flex;
            gap: 16px;

            & a{
                padding: 11px 16px;
                border-radius: 8px;
                background-color: #3B44F6;
                color: #EFEFEF;
            }

            & a:last-child{
                background-color: transparent;
                border: 1px solid #EFEFEF;
            }
        }
    }

    & #hero {
        margin-top: 114px;
        margin-left: 95px;
        color: #EFEFEF;

        & h1 {
            font-size: 48px;
            margin-bottom: 26px;
        }

        & p {
            width: 417px;
            font-size: 24px;

        }

        & a {
            display: inline-block;
            background-color: #3b44f6;
            padding: 16px 32px;
            border-radius: 8px;
            color: #EFEFEF;
            margin-top: 64px;
        }
    }
}

main {
    & #why-bigode-store{
        max-width: 915px;
        margin: auto;
        padding: 70px 0px;
        display: flex;
        gap: 60px;
        flex-direction: column;
        align-items: center;
        text-align: center;

        & .title{

            & p{
                font-size: 36px;
            color: #323232;
            width: 473px;
            }
        
        & h2 {
            margin-bottom: 16px;
            font-size: 36px;
            color: #181818;
        }    
        }
        & .cards{
            display: flex;
            justify-content: space-between;
            
            & .card{
                width: 202px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 21px;

                & img {
                    width: 94px;
                }

                & p {
                    width: 202px;
                }
            }
        }
    }
}